.playlist {
  padding: 10px;
  background-color: var(--primary-light);
  color: var(--text-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.playlist__track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}

.playlist__remove-button {
  background-color: var(--secondary-light);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}

.playlist__remove-button:hover {
  background-color: var(--secondary-dark);
}

.playlist__save-button {
  background-color: var(--secondary-light);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 16px;
}

.playlist__save-button:hover {
  background-color: var(--secondary-dark);
}