@import '../colors.css';

.track-list {
  padding: 10px;
  border-radius: 12px;
  background-color: var(--primary-light);
  color: var(--text-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.track-list__items {
  list-style: none;
  padding: 0;
}

.track-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--primary-light);
}

.track-list__info {
  flex-grow: 1;
}

.track-list__button {
  background-color: var(--secondary-light);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
}

.track-list__button:hover {
  background-color: var(--secondary-dark);
}