:root {
    --primary-light: #A1C7E0;
    --primary: #00ABBD;
    --primary-dark: #0099DD;
    --secondary-light: #E8A87C;
    --secondary-dark: #FF9933;
    --background-dark: #026E81;
    --text-color: #213547;
  }
  